.contimg{
    width: 33px;
}

.imgcart{
    width: 30px;
}

.cardwidcont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnshowcart{
    background: none;
    border: 2px solid white;
    border-radius: 2px;

}

.modal-title{
    color: black!important;
}

.contadorCart{
    position: absolute;
    background-color: white;
    width: 25px;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    top: -10px;
    right: -10px;
}

.modal-content{
    width: 700px;
}

.modal-title{
    color: white!important;
}